@model List<DinoRestaurant.Models.Entity.Items>
@{
    ViewBag.Title = "ListByCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            padding: 8px;
            text-align: center;
            border: 1px solid #ddd;
        }

        .table th {
            background-color: #b5b5b5;
            font-weight: bold;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .table tr:hover {
            background-color: #e2e2e2;
        }
</style>


@{ string color = "";}
<br />
@using (Html.BeginForm("Index", "Item", FormMethod.Get))
{
    <p>
        @Html.TextBox("p", null, new { @class = "search-textbox", placeholder = "Menülerde Ara" })
        <input type="submit" value="Ara" />
    </p>
}
<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            @*<div class="card-header">
                    <h3 class="card-title">Menü İşlemleri</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>*@
            <div class="card-body p-0">

                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 13%" height:200px>
                                Menü Görseli
                            </th>

                            <th style="width: 15%">
                                Menü Adı
                            </th>


                            <th style="width: 30%">
                                Açıklama
                            </th>
                            <th>
                                Kategori
                            </th>
                            <th style="width: 8%" class="text-center">
                                Durum
                            </th>

                            <th style="width: 20%">
                                İşlemler
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            if (@item.Categories.CategoryName == "Pide Çeşitleri")
                            {

                                color = "badge badge-warning";
                            }
                            if (item.Categories.CategoryName == "Lahmacun Çeşitleri")
                            {
                                color = "badge badge-primary";
                            }
                            if (item.Categories.CategoryName == "Pizza Çeşitleri")
                            {
                                color = "badge badge-secondary";
                            }
                            if (item.Categories.CategoryName == "Özel Dürümler")
                            {
                                color = "badge badge-success";
                            }
                            if (item.Categories.CategoryName == "Güveç Çeşitleri")
                            {
                                color = "badge badge-danger";
                            }
                            if (item.Categories.CategoryName == "Çiğ köfte ")
                            {
                                color = "badge badge-info";
                            }
                            if (item.Categories.CategoryName == "Tatlı Çeşitleri")
                            {
                                color = "badge badge-light";
                            }
                            if (item.Categories.CategoryName == "Soğuk İçecekler")
                            {
                                color = "badge badge-dark";
                            }
                            <tr>
                                <td>
                                    @item.ItemId
                                </td>

                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            @if (!string.IsNullOrEmpty(item.Image))
                                            {
                                                <img alt="Avatar" class="table-avatar" src="~/Images/Item/@item.Image" style="width: 120px; height: 80px;" />
                                            }
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <a>
                                        @item.ItemName
                                    </a>
                                    <br />
                                    <small>
                                        @item.Price TL
                                    </small>
                                </td>

                                <td>
                                    <span class="text-right">@item.Description</span>
                                </td>
                                <td class="project_progress">
                                    <span class="badge badge-success">@item.Categories.CategoryName</span>
                                </td>
                                <td class="project-state">
                                    @if (@item.IsActive)
                                    {
                                        <span>Aktif</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Pasif</span>
                                    }
                                </td>
                                <td class="project-actions text-right">

                                    <a class="btn btn-info btn-sm" href="/Item/UpdateItem/@item.ItemId">
                                        <i class="fas fa-pencil-alt"></i>
                                        Güncelle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Item/DeleteItem/@item.ItemId">
                                        <i class="fas fa-trash-alt"></i>
                                        Sil
                                    </a>
                                    <a class="btn btn-sm @(!item.IsActive ? "btn-warning" : "btn-light")" href="/Item/UpdateItem/@item.ItemId">
                                        @*<i class="fas fa-@(!item.HeadingStatus ? "check" : "check")"></i>*@
                                        @if (item.IsActive)
                                        {
                                            <span>Pasifleştir</span>
                                        }
                                        else
                                        {
                                            <span>Aktifleştir</span>
                                        }
                                    </a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
</body>
</html>
<a href="/Item/AddItem/" class="btn btn-primary">Yeni Menü Ekle</a>

