@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gelen Mesaj Sayfası</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- /.col -->
            @Html.Action("MessageListMenu", "Contact")
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Gelen Mesajlar</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Mail kutusunda ara">
                                <div class="input-group-append">
                                    <div class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="far fa-square"></i>
                            </button>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.Username != "admin")
                                        {
                                            <tr>
                                                <td>
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" value="@item.ContactId" id="check_@item.ContactId">
                                                        <label for="check_@item.ContactId"></label>
                                                    </div>
                                                </td>
                                                <td class="mailbox-star"><a href="/Contact/GetContactDetails/@item.ContactId"><i class="fas fa-star text-warning"></i></a></td>
                                                <td class="mailbox-name"><a href="/Contact/GetContactDetails/@item.ContactId">@item.UserMail</a></td>
                                                <td class="mailbox-subject">
                                                    <b>@item.Subject</b> - @(item.Message.Length > 30 ? item.Message.Substring(0, 30) + "..." : Html.Raw(System.Text.RegularExpressions.Regex.Replace(item.Message, "<.*?>", "")))
                                                </td>
                                                <td class="mailbox-attachment"></td>
                                                <td class="mailbox-date">5 mins ago</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer p-0">
                        <div class="mailbox-controls">
                            <button href="/Contact/MoveToTrash/" type="button" class="btn btn-danger btn-sm" id="moveToTrash">
                                <i class="far fa-trash-alt"></i> Seçilenleri Çöp Kutusuna Taşı
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#moveToTrash").click(function () {
                var selectedIds = [];
                $("input[type=checkbox]:checked").each(function () {
                    selectedIds.push($(this).val());
                });

                if (selectedIds.length > 0) {
                    $.post("/Contact/MoveToTrash", { ids: selectedIds }, function () {
                        location.reload();
                    });
                }
            });
        });
    </script>
</body>
</html>
